:root {
    --port-white: #F1F1F3;
    --port-black: #222;
    --port-pink: #FFD1DC;
    --port-orange: rgb(252 211 3 / 0.7);
}

html {
    /* スムーススクロール */
    scroll-behavior: smooth;
}

body {
    background: var(--port-white);
    font-family: 'Poiret One', 'Noto Sans JP', sans-serif;
    font-size: 20px;
    /* ぼかしアニメーション */
    /* animation-name: blurAnime; */
    /* animation-duration: 3.2s; */
    /* transition-timing-function: ease-out; */
}

img {
    width: 100%;
}

.u-center-text {
    text-align: center;
}

.l-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-block: 120px;
}

.l-wrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.c-section-title {
    font-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
    text-align: center;
    font-weight: bold;
}

.c-sub-title {
    font-size: 32px;
}

/* 花のアイコン */
.c-section-title::before {
    content: '';
    display: inline-block;
    background: url(../image/flower-orange.svg) center center/cover;
    width: clamp(1.875rem, 1.435rem + 1.878vw, 3.125rem);
    height: clamp(1.875rem, 1.435rem + 1.878vw, 3.125rem);
}

.c-sub-title::before,
.c-card-title::before {
    content: '';
    display: inline-block;
    background: url(../image/flower-pink.png) center center/cover;
    width: 20px;
    height: 20px;
}


/* 回転のアニメーション */
.c-section-title::before,
.c-sub-title::before,
.c-card-title::before {
    animation-name: rotateAnime;
    animation-duration: 10.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* MainVisual */
.c-mv {
    height: 550px;
    background: url(../image/002stockphoto_TP_V.webp)no-repeat center right/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.p-name {
    font-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
    padding: 80px 40px;
    text-align: end;
}

/* navigation */

.c-header {
    /* 画面に固定 */
    position: fixed;
    background-color: var(--port-white);
    filter: opacity(0.9);
    width: 100vw;
    z-index: 1;
}

.l-gnav {
    display: flex;
    gap: clamp(0.5rem, -0.644rem + 4.883vw, 3.75rem);
}

.c-white-band:hover {
    background-color: rgba(241, 241, 243, 1);
    filter: opacity(1);
    transition-duration: 0.8s;
}

.c-gnav__li {
    font-size: clamp(1.875rem, 1.479rem + 1.69vw, 3rem);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 4px;
}

.c-gnav__li:hover {
    transition-duration: 0.8s;
    background: var(--port-orange);
}

.c-humburger__nav {
    display: none;
}

@media screen and (max-width: 768px) {
    .l-gnav {
        display: none;
    }

    .c-humburger__icon {
        /* クリックの範囲を広くする */
        padding: 40px;
        /* 右上に固定 */
        position: fixed;
        right: 0;
        z-index: 20;
    }

    .c-humburger__span {
        position: relative;
        display: block;
    }

    .c-humburger__span::before {
        position: absolute;
        content: '';
        top: 10px;
    }


    .c-humburger__span::after {
        position: absolute;
        content: '';
        top: -10px;
    }

    .c-humburger__span,
    .c-humburger__span::before,
    .c-humburger__span::after {
        width: 40px;
        height: 1px;
        background-color: var(--port-black);
    }

    /* activeがついたとき */
    /* 変化速度 */
    .active .c-humburger__span,
    .active .c-humburger__span::before,
    .active .c-humburger__span::after {
        transition: all 300ms ease-in 100ms;
    }

    .active .c-humburger__span {
        background-color: var(--port-orange);
    }

    .active .c-humburger__span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .active .c-humburger__span::after {
        transform: rotate(-45deg);
        top: 0;
    }

    .active .c-humburger__nav {
        background-color: var(--port-orange);
        display: block;
        width: 40vw;
        height: 100vh;
        z-index: 10;
        /* 中央ぞろえ */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* 右に固定 */
        position: fixed;
        right: 0;
    }

    .active .c-gnav__li {
        width: 100%;
    }
}




/* セクションの中の余白 */

.l-about-section,
.p-works-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



/* About */

.l-skill,
.l-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.p-profile-text {
    font-family: 'Noto Sans JP', sans-serif;
}

/* skills */

.l-skill-icons {
    display: flex;
    gap: 40px;
}

.p-skill-icon {
    width: 50px;
}

/* Works */
.p-works {
    background: var(--port-pink);
    padding-block: 30px;
}

.p-works__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: min(20px);
    grid-template-rows: auto;
}

.c-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: #ccc;
    padding: 20px 30px;
}

.c-work-card:hover {
    transition: all 0.4s ease-out;
    transform: scale(1.04);

}

.c-works__link-img {
    width: 30px;
}

.c-works__img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    object-position: top;
}

.c-work__skills {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    gap: 10px;
}

.c-work__skills li {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--port-orange);
    padding: 2px 5px;
}


@media screen and (max-width: 768px) {
    .p-works__cards {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}


/* ダイアログ */
.l-dialog:modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.c-works__link-area {
    display: flex;
    align-items: center;
    gap: 10px;
}


.c-works__link-text,
.close {
    background: var(--port-black);
    color: var(--port-white);
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
}


.c-works__link-text:hover,
.c-works__link-img:hover,
.close:hover {
    transition-duration: 0.8s;
    filter: opacity(0.7);
}


/* MSG */
.p-msg-area {
    font-weight: bold;
    position: relative;
}

.p-msg-area__msg {
    animation-name: titleAnime;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}


/* TOPに戻るボタン */

.p-top-btn {
    width: 100px;
    position: absolute;
    right: 30px;
    bottom: -100px;
    filter: grayscale(60%);
}

.p-top-btn::before {
    content: '▲';
    font-size: 14px;
}

.p-top-btn:hover {
    filter: grayscale(0%);
    transition-duration: 0.5s;
}


@media screen and (max-width: 768px) {
    .p-top-btn {
        filter: grayscale(0%);
    }
}

/* footer */

.l-footer {
    background: var(--port-orange);
    padding-block: 20px;
}

.l-footer small {
    font-size: 12px;
}

/* アニメーション */
@keyframes blurAnime {
    0% {
        filter: blur(50px);
    }

    100% {
        filter: blur(0px);
    }

}


@keyframes rotateAnime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}


@keyframes titleAnime {

    50% {
        color: lightcoral;
    }

    100% {
        color: black;
    }
}