:root {
    --port-white: #F1F1F3;
    --port-black: #222;
    --port-pink: #FFD1DC;
    --port-orange: rgb(252, 211, 3, 0.7);

    --space-m: 20px;
    --space-l: 50px;
}

html {
    /* スムーススクロール */
    scroll-behavior: smooth;
}

body {
    background: var(--port-white);
    font-family: 'Poiret One', 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

img {
    width: 100%;
}

.u-notosans {
    font-family: 'Noto Sans JP', sans-serif;
}

.u-center-text {
    text-align: center;
}

.l-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-block: 120px;
}

.l-wrapper {
    width: min(90%, 960px);
    margin: 0 auto;
}

.c-section-title {
    font-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
    text-align: center;
    font-weight: bold;
}

.c-sub-title {
    font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
}

/* 花のアイコン */
.c-section-title::before {
    content: '';
    background: url(../image/flower-pink.png) center center/cover;
    display: inline-block;
    width: clamp(1.875rem, 1.435rem + 1.878vw, 3.125rem);
    height: clamp(1.875rem, 1.435rem + 1.878vw, 3.125rem);
    filter: brightness(120%);
}

.c-sub-title::before,
.c-card-title::before {
    content: '';
    background: url(../image/flower-orange.svg) center center/cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}


/* 回転のアニメーション */
.c-section-title::before,
.c-sub-title::before,
.c-card-title::before {
    animation: rotateAnime 10s linear infinite;
}

/* MainVisual */
.c-mv {
    height: 550px;
    background: url(../image/mv.webp)no-repeat center right/cover;
    display: flex;
    flex-direction: column;
    /* ぼかしアニメーション */
    animation: blurAnime 1.0s ease-out;
    /* position: relative; */
}

.p-name {
    font-size: clamp(4rem, 3.648rem + 1.502vw, 5rem);
    padding: 80px 40px;
    align-self: flex-end;
}

/* navigation */

.c-header {
    background-color: var(--port-white);
    filter: opacity(0.9);
    /* 画面に固定 */
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.l-gnav {
    display: flex;
    gap: clamp(0.5rem, -0.644rem + 4.883vw, 3.75rem);
}

.c-gnav__li {
    font-size: clamp(1.875rem, 1.479rem + 1.69vw, 3rem);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 4px;
    transition: all 300ms ease-in;
}

.c-gnav__li:hover {
    background: var(--port-orange);
}

.c-humburger__nav {
    display: none;
}

@media screen and (max-width: 768px) {
    .l-gnav {
        display: none;
    }

    .c-humburger__icon {
        border-radius: 4px;
        background-color: var(--port-white);
        filter: opacity(0.9);
        /* クリックの範囲を広くする */
        padding: 30px;
        /* 右上に固定 */
        position: fixed;
        right: 0;
        z-index: 20;
    }

    .c-humburger__span {
        position: relative;
        display: block;
    }

    .c-humburger__span::before,
    .c-humburger__span::after {
        position: absolute;
        content: '';
    }

    .c-humburger__span::before {
        top: 10px;
    }


    .c-humburger__span::after {
        top: -10px;
    }

    .c-humburger__span,
    .c-humburger__span::before,
    .c-humburger__span::after {
        width: 40px;
        height: 1px;
        background-color: var(--port-black);
    }

    /* activeがついたとき */

    .active .c-humburger__span,
    .active .c-humburger__span::before,
    .active .c-humburger__span::after {
        transition: all 300ms ease-in 100ms;
    }

    .active .c-humburger__span {
        background-color: var(--port-white);
    }

    .active .c-humburger__span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .active .c-humburger__span::after {
        transform: rotate(-45deg);
        top: 0;
    }


    .active .c-humburger__nav {
        background-color: var(--port-white);
        display: block;
        width: 40vw;
        height: 100vh;
        z-index: 10;
        /* 中央ぞろえ */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* 右に固定 */
        position: fixed;
        right: 0;
    }

    /* ホバー時の色がつく範囲 */
    .active .c-gnav__li {
        width: 100%;
    }
}




/* セクションの中の余白 */

.l-about-section,
.p-works-inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

/* About */

.l-skill,
.l-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
}

.p-profile-text {
    font-family: 'Noto Sans JP', sans-serif;
}

/* skills */

.l-skill-icons {
    display: flex;
    align-items: center;
    gap: var(--space-l);
}

.p-skill-icon {
    width: clamp(3.125rem, 2.465rem + 2.817vw, 5rem);
    /* width: 50px; */
    filter: saturate(10%);
}

.p-skill-icon:hover {
    filter: saturate(170%);
    transition: all 300ms ease-in-out 10ms;
}

@media screen and (max-width: 768px) {
    .p-skill-icon {
        filter: saturate(100%);
    }

}

/* Works */
.p-works {
    background: var(--port-pink);
    padding-block: var(--space-m);
}

.p-works__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-m);
    grid-template-rows: auto;
}

.c-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
    background: #ddd;
    padding: var(--space-m);
    border-radius: 4px;
    filter: blur(2px);
}

.c-work-card:hover {
    transition: all 200ms ease-out;
    transform: scale(1.04);
    border: 1px solid var(--port-black);
    filter: blur(0px);
}

.c-works__img {
    width: 270px;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.c-work__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.c-work__skills li {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--port-orange);
    padding: 4px 5px;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .p-works__cards {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .c-work-card {
        transform: scale(1.00);
        border: 1px solid var(--port-black);
        filter: blur(0px);
    }

}


/* ダイアログ */
.l-dialog:modal {
    width: min(80%, 700px);
    background-color: var(--port-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
    padding-block: var(--space-l);
    /* position: relative; */
}

.close {
    position: relative;
    left: 47%;
    padding-block: var(--space-m);
}

.close span {
    transform: rotate(-45deg);
}

.close span,
.close span::after {
    width: 40px;
    height: 1px;
    display: block;
    background-color: var(--port-black);
    position: relative;
}

.close span::after {
    position: absolute;
    content: '';
    transform: rotate(90deg);
}

.c-works__link-area {
    display: flex;
    align-items: center;
    gap: var(--space-m);
}

.c-works__link-img {
    width: 30px;
}

.c-works__link-text {
    background: var(--port-black);
    color: var(--port-white);
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
}


.c-works__link-text:hover,
.c-works__link-img:hover {
    transition: all 300ms ease-out;
    filter: opacity(0.7);
}

.c-work__realize,
.p-mytasks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.c-work__realize li,
.p-mytasks li {
    background-color: var(--port-pink);
    padding: 4px 5px;
    font-size: 16px;
}


/* MSG */
.p-msg-area {
    font-weight: bold;
    position: relative;
}

.p-msg-area__msg {
    animation: msgAnime 800ms ease-in-out infinite;
}

/* TOPに戻るボタン */
.p-top-btn {
    width: 100px;
    position: absolute;
    right: 5px;
    filter: grayscale(60%);
}

.p-top-btn::before {
    content: '▲';
    font-size: 14px;
}

.p-top-btn:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition-duration: 200ms;
}


@media screen and (max-width: 768px) {
    .p-top-btn {
        filter: grayscale(0%);
    }
}

/* footer */

.l-footer {
    background: var(--port-orange);
    padding-block: var(--space-m);
}

.l-footer small {
    font-size: 15px;
}

/* アニメーション */
@keyframes blurAnime {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0px);
    }

}


@keyframes rotateAnime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes msgAnime {
    0% {
        color: rgb(255, 101, 44);
    }

    100% {
        color: var(--port-pink);
    }
}